:root {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color-scheme: light;
  color: #1a1a1a;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FBF5DD;
}

a {
  color: #306D29;
  text-decoration: none;
}